<div id="smoke">
<h1>Gonzo is </h1>
<br><br><br>    
<h4>This is the name of the field in journalism, which is strikingly different from all<br>
 other areas in that the author writes his material purely from a  subjective point of <br>
 view. He describes what is happening not as the author, but as a participant in the <br>
 events happening around. Most often gonzo journalism touches on the problems of various <br>
 organizations, subcultures, minorities, politics, etc.</h4>

 
</div>